<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>404 Not Found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <style type="text/css" media="screen">
    .error-left {
      position: absolute;
      background-color: #fff;
      top: 0;
      bottom: 0;
      right: 50%;
      left: 0;
    }
    .error-left img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .error-right {
      position: absolute;
      background-color: #002f54;
      top: 0;
      bottom: 0;
      right: 0;
      left: 50%;
      padding: 4em;
    }
    .error-right .error-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  </style>
  <base href="/">
</head>
<body>
  <div class="error-left">
    <img src="/images/vengio.gif" alt="Vendigo Finance Group"/>
  </div>
  <div class="error-right">
    <div class="error-text">
      <h1>Sorry, that page does not exist</h1>
      <p>
        <a href="/">
          <i class="fa fa-long-arrow-left"></i>
          Go back to the homepage
        </a>
      </p>
    </div>
  </div>
  {{#if isProduction}}
  <script type="text/javascript">
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
  {{/if}}
</body>
</html>
