@import '../../variables';
@import '../../mixins';

.vf-primary-nav__list {
  display: none;

  &.active {
    display: block;
  }

  &.inactive {
    display: none;
  }
}

+breakpoint(tablet) {
  .vf-primary-nav__list {
    display: block;
    padding: 0 20px;

    &.inactive {
      display: block;
    }

    li {
      display: inline-flex;
      align-items: center;
      height: 100%;

      box-sizing: border-box;
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent;

      &.active {
        border-bottom: 5px solid $color-highlight;
      }

      &:hover {
        background-color: lighten($color-primary, 10)
      }

      float: left;
      &.call-support {
        display: none;
      }
      &:last-child {
        margin-left: 20px;
        border-bottom: 5px solid transparent;

        &:hover {
          background-color: transparent;
        }

        a {
          border: 1px solid $color-highlight;
          display: block;
          height: auto;
          &:hover {
            opacity: 1;
            background-color: $color-highlight;
          }
        }
      }

      a {
        background-color: transparent;
        border-radius: 4px;
        border-bottom: none;
        padding: 10px 35px;
        display: flex;
        height: 100%;
        align-items: center;
        &:hover {
          opacity: 1;
          background-color: transparent;
        }
        &.active {
          background-color: transparent;
        }
      }
    }
  }
}