@import '../../variables';
@import '../../mixins';

.vf-primary-nav {
  display: block;
  box-sizing: border-box;
  background-color: $color-primary;
  position: relative;
  z-index: 20;
  height: 69px;

  header {
    display: block;
    box-sizing: border-box;
    padding: 18px 30px;

    > div {
      width: 150px;
      height: 30px;
    }

    #toggle {
      position: absolute;
      top: 20px;
      right: 20px;

      &.active {
        .icon {
          burger-to-cross(4px, 4px);
        }
      }

      > a {
        display: inline-block;
        vertical-align: top;

        &:hover {
          .icon {
            opacity: 0.7;
          }
        }
      }

      .icon {
        burger(25px, 4px, 4px, #fff);
        cursor: pointer;
      }
    }
  }
}

+breakpoint(tablet) {
  .vf-primary-nav {
    display: flex;
    justify-content: space-between;

    header {
      #toggle {
        display: none;
      }
    }
  }
}
