@import '../../variables';
@import '../../mixins';

.vf-primary-nav__list-item {
  a {
    background-color: $color-primary;
    font-family: $font-regular;
    font-weight: lighter;
    color: $color-grayscale-1;
    display: block;
    text-align: center;
    padding: 15px 10px;
    border-bottom: solid 1px rgba(0, 149, 223, 1);

    &:hover {
      background-color: lighten($color-primary, 10%);
      opacity: 1;
    }
  }
}

+breakpoint(tablet) {
  .vf-primary-nav__list-item {
    display: inline-flex;
    float: left;
    align-items: center;
    height: 100%;

    box-sizing: border-box;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;

    &[selected] {
      border-bottom: 5px solid $color-highlight;
    }

    &:hover {
      background-color: lighten($color-primary, 10)
    }

    &.call-support {
      display: none;
    }

    &:last-child {
      margin-left: 20px;
      border-bottom: 5px solid transparent;

      &:hover {
        background-color: transparent;
      }

      a {
        border: 1px solid $color-highlight;
        display: block;
        height: auto;

        &:hover {
          opacity: 1;
          background-color: $color-highlight;
        }
      }
    }

    a {
      background-color: transparent;
      border-radius: 4px;
      border-bottom: none;
      padding: 10px 35px;
      display: flex;
      height: 100%;
      align-items: center;

      &:hover {
        opacity: 1;
        background-color: transparent;
      }
    }
  }
}