@import '../variables';
@import 'breakpoint.mixin';

$box {
  box-sizing: border-box;
  display: block;
  margin: 0 auto 10px;
  padding: 20px 22px 40px;
  max-width: 738px;
  background: $color-grayscale-1;
  border-radius: 3px;
  box-shadow: 0 1px 2px $color-box-shadow;

  +breakpoint(smartphone-big) {
    margin: 20px auto;
  }

  +breakpoint(tablet) {
    padding-left: 62px;
    padding-right: 62px;
    margin-top: 0;
  }

  @media (min-width: 900px) {
    margin-top: 20px;
  }
}
