breakpoint($point) {
  if $point == smartphone-big {
    @media (min-width: 641px) {
      {block};
    }
  } else if $point == tablet {
    @media (min-width: 768px) {
      {block};
    }
  } else if $point == web {
    @media (min-width: 1024px) {
      {block};
    }
  } else if $point == web-big {
    @media (min-width: 1440px) {
      {block};
    }
  }
}
