burger($width = 30px, $height = 5px, $gutter = 3px, $color = #000, $border-radius = 0, $transition-duration = .3s) {
  position: relative;
  margin-top: $height + $gutter;
  margin-bottom: $height + $gutter;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &,
  &::before,
  &::after {
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    border-radius: $border-radius;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: $transition-duration;
    -moz-transition-duration: $transition-duration;
    -o-transition-duration: $transition-duration;
    transition-duration: $transition-duration;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    top: -($height + $gutter);
  }

  &::after {
    top: $height + $gutter;
  }
}

burger-to-cross($height = 5px, $gutter = 3px, $color = auto) {
  $occupied = $gutter + $height

  & {
    background-color: transparent;
  }

  &::before,
  &::after {
    background-color: $color;
  }

  &::before {
    -webkit-transform: translateY($occupied) rotate(45deg);
    -moz-transform: translateY($occupied) rotate(45deg);
    -ms-transform: translateY($occupied) rotate(45deg);
    -o-transform: translateY($occupied) rotate(45deg);
    transform: translateY($occupied) rotate(45deg);
  }

  &::after {
    -webkit-transform: translateY(- $occupied) rotate(-45deg);
    -moz-transform: translateY(- $occupied) rotate(-45deg);
    -ms-transform: translateY(- $occupied) rotate(-45deg);
    -o-transform: translateY(- $occupied) rotate(-45deg);
    transform: translateY(- $occupied) rotate(-45deg);
  }
}
