@import '../variables';

$text-input {
  background-color: $color-grayscale-1;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid $color-grayscale-3;
  outline: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: $font-light;
  font-size: 13.5px;
  line-height: 1;
  height: 45px;
  transition: border-color 0.5s;

  &:focus {
    border-color: $color-contrast;
  }

  &::-webkit-input-placeholder {
    color: $color-disabled-text;
  }

  &::-moz-placeholder {
    color: $color-disabled-text;
  }

  &:-ms-input-placeholder {
    color: $color-disabled-text;
  }

  &:-moz-placeholder {
    color: $color-disabled-text;
  }
}
