<div class="merchants-list">
  <header class="merchant-list-header">
    <div class="merchant-list-header__new-merchant">
      {{#>vf-button link="/merchants/new" type="success"}}New Merchant{{/vf-button}}
    </div>

  </header>
</div>
