@import '../../styles/mixins';
@import '../../styles/variables';

_30_PERCENT = 1;
_70_PERCENT = 2.31;

.vf-form-row {
  position: relative;
  display: block;
  margin: 10px 0;

  +breakpoint(tablet) {
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
  }

  .vf-form-row__label {
    display: block;
    margin-bottom: 10px;

    +breakpoint(tablet) {
      margin-bottom: 0;
      flex: _30_PERCENT;
    }
  }

  .vf-form-row__controls {
    +breakpoint(tablet) {
      flex: _70_PERCENT;
    }
  }

  .vf-form-row__controls--multi {
    display: flex;

    > .vf-select {
      width: auto;
    }

    > .vf-input {
      margin-left: 10px;
      flex: auto;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.vf-form-row__label {
  padding-top: 4px;
  font-size: 13.5px;
  font-family: $font-bold;

  &.has-label {
    display: block;
  }

  +breakpoint(tablet) {
    padding: 16px;
    text-align: right;
  }
}

.vf-form-row__error {
  display: inline-block;
  margin: 5px 0 10px;
  font-size: 14px;
  color: $color-error-text;
}
