{{#>island heading="Sign in now"}}
  <form name="login" method="POST" action="/login" novalidate>
    {{>vf-global-errors messages}}
    <fieldset>
      {{#>vf-form-row for="email" label="Email"}}
        {{#vf-input type="email" name="email" placeholder="eg. john@vendigo.com"}}{{/vf-input}}
      {{/vf-form-row}}

      {{#>vf-form-row for="password" label="Password"}}
        {{#vf-input type="password" name="password"}}{{/vf-input}}
        <a href="/reset-password" class="reset-password-link">Forgot password?</a>
      {{/vf-form-row}}
    </fieldset>
    <fieldset name="actions">
      {{#>vf-button method="submit" type="primary"}}Login{{/vf-button}}
    </fieldset>
  </form>
{{/island}}