@import '../variables';
@import '../mixins';

$top-nav-height = 69px;
$application-steps-height = 83px;
$header-height = $top-nav-height + $application-steps-height

.vf-application-wizard {
  position: relative;
  padding: 0 10px 10px;
  background-color: $color-grayscale-2;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
    width: 100%;
    background-color: $color-primary;
    content: '';
    z-index: 1;
  }

  > * {
    z-index: 2;
  }

  +breakpoint(smartphone-big) {
    padding: 0 20px 20px;
    height: "calc(100vh - %s)" % $header-height;
  }
}