@import '../variables';
@import '../mixins';

.vf-app-footer {
  box-sizing: border-box;
  position: relative;
  padding: 15px;
  min-width: 320px;
  background-color: $color-grayscale-2;
  background-image: url($image-path + 'fca-logo.png');
  background-position: bottom 15px left 80px;
  background-repeat: no-repeat;
  background-size: 79px;
  border-top: 1px solid #ccc;
  text-align: right;

  &:before {
    position: absolute;
    left: 15px;
    bottom: 20px;
    content: 'Licensed by';
    color: #5c1035;
    font-size: 11px;
  }

  +breakpoint(smartphone-big) {
    position: fixed;
    bottom: 0;
    padding: 20px 15px;
    width: 100%;
    z-index: 999998;
    text-align: center;
  }

  .vf-app-footer__call {
    margin-top: 15px;

    +breakpoint(smartphone-big) {
      position: absolute;
      margin-top: 0;
      right: 15px;
    }
  }
}

.vf-app-footer__trusted {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  font-style: italic;
  text-align: center;

  +breakpoint(smartphone-big) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.vf-app-footer__call {
  display: inline-block;
  padding-left: 30px;
  background: url($icon-phone) 0 0 no-repeat;
  background-size: contain;
  font-size: 11px;
  text-align: left;

  span {
    display: block;

    &:first-child {
      margin-bottom: 2px;
    }
  }
}