@import 'variables';

.vf-button-toggle {
  display: inline-block;
  flex: 1;
  height: 45px;

  > input {
    display: none;
  }

  > label {
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: 12px;
    height: 100%;
    width: 100%;
    background-color: $color-grayscale-1;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: $color-grayscale-3;
    cursor: pointer;
    font-size: 13.5px;
    font-family: $font-light;
    align-items: center;
    justify-content: center;
  }

  &:first-child label {
    border-radius: 3px 0 0 3px;
  }

  &:last-child label {
    border-right-width: 1px;
    border-radius: 0 3px 3px 0;
  }

  :checked + label {
    background-color: $color-highlight;
    border-color: $color-highlight;
    color: $color-grayscale-1;
  }
}
