@import 'variables';
@import '../mixins';

.vf-button {
  display: block;
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  height: 45px;
  border: 0;
  outline: 0;
  transition: background-color 0.3s;
  font: 15px $font-regular;
  line-height: 1;
  cursor: pointer;

  background: $color-secondary;
  color: $color-primary;

  &:hover {
    background-color: darken($color-secondary, 10%);
  }

  &[selected] {
    background-color: $color-highlight;
    color: $color-grayscale-1;
  }

  span {
    display: flex;
    flex: none;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    justify-content: center;
    align-items: center;

    > * {
      margin: 0 5px;
      text-align: center;
    }

    +breakpoint(smartphone-big) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

.vf-button[large] {
  height: 66px;
  font-size: 22px;
  font-family: $font-light;
}

.vf-button[small] {
  height: 24px;
  font-size: 14px;

  > span {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.vf-button[primary] {
  background: $color-primary;
  color: $color-grayscale-1;

  &:hover {
    background-color: lighten($color-primary, 17);
  }
}

.vf-button[secondary] {
  background: $color-highlight;
  color: $color-grayscale-1;

  &:hover {
    background-color: lighten($color-highlight, 17);
  }
}

.vf-button[success] {
  background: $color-contrast;
  color: $color-grayscale-1;

  &:hover {
    background-color: lighten($color-contrast, 7);
  }
}

.vf-button[highlight] {
  background-color: $color-contrast-2;
  color: $color-grayscale-1;
  text-transform: uppercase;

  &:hover {
    background-color: darken($color-contrast-2, 17);
  }

  &[disabled] {
    background-color: lighten($color-contrast-2, 17);
    color: $color-grayscale-1;
  }
}

.vf-button[transparent] {
  background-color: transparent;
  color: $color-primary;

  &:hover {
    background-color: $color-base;
  }

  &[disabled] {
    color: $color-grayscale-1;
  }
}

.vf-button[highlight][disabled] {
  background-color: lighten($color-contrast-2, 17);
  color: $color-grayscale-1;

  &:hover {
    background-color: lighten($color-contrast-2, 17) !important;
  }
}

.vf-button[disabled] {
  background: $color-disabled-button;
  color: lighten($color-disabled-button, 17);
  cursor: default;

  &:hover {
    background: $color-disabled-button;
  }
}
