@import 'variables';

.vf-global-errors {
  padding: 20px;
  border: 2px solid $color-error-text;
  border-radius: 3px;
  color: $color-error-text
}

.vf-global-errors__error {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}