@import 'variables';
@import '../mixins';

.vf-island {
  position: relative;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 20px 10px;
  background: $color-grayscale-1;
  box-shadow: 0 1px 2px #ccc;

  +breakpoint(tablet) {
    padding: 20px;
  }

  +breakpoint(web) {
    padding: 40px 60px;
    width: 70%;
    max-width: 960px;
  }
}

.vf-island > h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  border-bottom: solid 1px #979797;

  +breakpoint(tablet) {
    font-size: 30px;
    line-height: 30px;
  }
}

.vf-island fieldset {
  padding: 15px;
  background-color: $color-grayscale-2;

  +breakpoint(web) {
    padding: 20px 40px;
  }
}

.vf-island fieldset > div {
  font-size: 14px;
}

.vf-island form > fieldset:last-child {
  padding-top: 15px;

  +breakpoint(web) {
    background: none;
  }
}
