@import 'variables';

.vf-logo {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: url($image-path + 'vendigo-logo.svg') 0 0 no-repeat;
  text-indent: -99999px;
  color: transparent;
}