@import '../variables';
@import '../mixins';

.vf-merchant-steps {
  position: relative;
  padding: 20px 10px;
  font-size: 12px;
  background-color: $color-primary;

  +breakpoint(smartphone-big) {
    padding: 25px 20px 25px;
  }
}

.vf-merchant-steps > ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  list-style: none;
  pointer-events: none;
}

.vf-merchant-steps__step {
  width: 25%;
  text-align: center;
  position: relative;
  color: $color-highlight;

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &:first-child:before,
  &:last-child:after {
    display: none;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 7px;
    width: 50%;
    height: 1px;
    background-color: $color-highlight;
    z-index: 10;
  }
}

.vf-merchant-steps__title {
  position: relative;
  display: block;
  padding: 9px 2px 0;
  font-size: 13.5px;
  line-height: 1.35;

  [selected] & {
    color: $color-grayscale-1;
  }

  [completed] & {
    color: $color-highlight;
  }

  &:before {
    box-sizing: border-box;
    display: block;
    position: relative;
    top: -9px;
    margin: 0 auto;
    content: '';
    width: 14px;
    height: 14px;
    background-color: $color-primary;
    border-radius: 100px;
    border: 4px solid $color-primary;
    box-shadow: 0 0 0 1px $color-highlight, 0 0 0 8px $color-primary;
    z-index: 20;

    [selected] & {
      background-color: $color-grayscale-1;
      box-shadow: 0 0 0 1px $color-grayscale-1, 0 0 0 8px $color-primary;
    }

    [completed] & {
      background-color: $color-highlight;
      border-color: $color-highlight;
      box-shadow: 0 0 0 1px $color-highlight, 0 0 0 8px $color-primary;
    }
  }
}
