@import 'variables';

.product-toggle {
  display: inline-block;
  width: 100%;

  > input {
    display: none;
  }

  > label {
    box-sizing: border-box;
    display: flex;
    position: relative;
    padding: 12px 12px 12px 36px;
    background-color: $color-grayscale-1;
    border: 1px solid $color-grayscale-3;
    border-radius: 3px;
    flex-direction: column;
    height: 100%;
    cursor: pointer;

    &:before {
      position: absolute;
      left: 10px;
      top: 12px;
      width: 16px;
      content: '';
      height: 16px;
      border: 1px solid $color-grayscale-3;
      border-radius: 999px;
    }
  }

  :checked + label {
    background-color: $color-highlight;
    border-color: $color-highlight;
  }

  :checked + label:before {
    border-color: transparent;
    background: url($icon-check-mark-stroked) no-repeat center center;
    background-size: 18px;
  }
}

.product-toggle__description,
.product-toggle__title {
  display: block
}

.product-toggle__description {
  margin: 0;
  line-height: 15.2px;
  font-size: 10.8px;
  font-style: italic;
  font-family: $font-light;
}

.product-toggle__title {
  margin: 0;
  margin-bottom: 8px;
  user-select: none;
  color: $color-highlight;
  font-size: 16.2px;
  font-family: $font-bold;
}

:checked + label .product-toggle__description,
:checked + label .product-toggle__title {
  color: $color-grayscale-1;
}
