@import '../variables';
@import '../mixins';

.vf-search-filter {
  display: block;

  form {
    display: flex;
  }

  .applications-search-filters {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: $color-grayscale-3;

    +breakpoint(smartphone-big) {
      flex-wrap: nowrap;
    }

    label {
      display: none;
    }

    input {
      @extend $text-input;
      margin-bottom: 10px;
      padding-left: 40px;
      height: auto;
      width: 100%;
      background: white;
      background-image: url($icon-magnifying-glass-light);
      background-repeat: no-repeat;
      background-position: center left 10px;

      +breakpoint(smartphone-big) {
        margin-bottom: 0;
      }
    }

    select {
      width: 49%;
      font-size: 14px;
      background-color: $color-grayscale-1;

      +breakpoint(smartphone-big) {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 300px;
      }
    }

    .vf-button {
      width: 49%;

      +breakpoint(smartphone-big) {
        max-width: 200px;
      }
    }
  }

  .applied-filters {
    display: flex;
    flex-wrap: wrap;
  }

  .applied-filters-item {
    margin-right: 10px;
    margin-top: 10px;
    width: auto;

    &:last-child {
      margin-right: 0;
    }
  }

  .applied-filter {
    transition: padding-right .3s;

    &:after {
      display: block;
      position: absolute;
      top: 6px;
      right: 5px;
      height: 12px;
      width: 12px;
      content: '\D7';
      font-size: 20px;
      line-height: 13px;
      font-family: monospace;
      opacity: 0;
      transition: opacity .15s, transform .3s;
    }
  }

  vf-button:hover .applied-filter {
    padding-right: 15px;

    &:after {
      opacity: 1;
      transform: rotate(90deg);
      transition: opacity .5s, transform .3s;
    }
  }

  .applied-filter-name {
    &:after {
      content: ':'
    }
  }

  .applied-filter-value {
    font-weight: 900;
  }
}
