@import 'variables';
@import 'mixins';

.vf-toggle-group {
  width: 100%;

  > * {
    margin-bottom: 1%;
  }
}

.vf-toggle-group[colspan] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  +breakpoint(smartphone-big) {
    flex-direction: row;
  }

  > * {
    +breakpoint(smartphone-big) {
      margin-right: 1%;
    }
  }
}

+breakpoint(smartphone-big) {
  for $i in (1..12) {
    $gutters = $i - 1;
    $widthWithoutGutters = (100 - $gutters) / 100;
    $width = percentage($widthWithoutGutters / $i);

    .vf-toggle-group[colspan=\'{$i}\'] {
      > * {
        width: $width;

        &:nth-child({$i}n) {
          margin-right: 0;
        }
      }
    }
  }
}
