@import '../../styles/variables';
@import '../../styles/mixins';

.vf-select[readonly] {
  @extend $readonly;
}

.vf-select[disabled] {
  @extend $disabled;
}

.vf-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  @extend $text-input;
  height: 47px;
  padding-right: 35px;
  background-position: right 7px center;
  background-repeat: no-repeat;
  background-image: url($icon-select-caret-light);
}
