<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {{#if metaTitle}}
    <title>{{metaTitle}}</title>
  {{else}}
    <title>Vendigo Finance</title>
  {{/if}}
  {{#if metaDescription}}
    <meta name="description" content="{{metaDescription}}">
  {{/if}}
  <link rel="stylesheet" href="/static/app.css"/>
  <base href="/">
</head>
<body>
<div class="vf-app">
  {{> header user isAuthenticated=isAuthenticated section=section}}
  {{{content}}}
</div>
{{>footer}}

{{#if isProduction}}
  <script type="text/javascript">
    (function (b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[ l ] || (b[ l ] =
          function () {(b[ l ].q = b[ l ].q || []).push(arguments)});
      b[ l ].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[ 0 ];
      e.src = 'https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
  </script>
{{/if}}
<script src="/static/app.js"></script>
</body>
</html>
