@import 'variables';
@import 'mixins';

.applications-list {
  display: block;
  position: relative;
  background-color: $color-grayscale-1;

  > footer {
    display: block;
    padding: 10px;
    background: $color-grayscale-1;
    border-top: 1px solid $color-grayscale-3;

    +breakpoint(tablet) {
      padding: 20px;
    }
  }
}

.application-list-header {
  margin-bottom: 10px;
  padding: 10px;

  +breakpoint(tablet) {
    margin-bottom: 0;
    padding: 20px;
  }
}

.application-list-header__search {
  margin-bottom: 20px;
  box-sizing border-box

  +breakpoint(web) {
    display: flex;
    flex-direction: row-reverse;
  }

  .application-list-header__search-options {
    +breakpoint(web) {
      flex: 1;
    }
  }
}

.application-list-header__new-application {
  padding-top: 10px;
  padding-bottom: 20px;

  +breakpoint(tablet) {
    padding-top: 0;
  }

  +breakpoint(web) {
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 0;
  }
}