$font-path = '../fonts/' !default;

@font-face {
  font-family: 'AvertaRegular';
  src: url($font-path + 'intelligent_design_-_averta-webfont.eot');
  src:
          url($font-path + 'intelligent_design_-_averta-webfont.eot?#iefix') format('embedded-opentype'),
          url($font-path + 'intelligent_design_-_averta-webfont.woff2') format('woff2'),
          url($font-path + 'intelligent_design_-_averta-webfont.woff') format('woff'),
          url($font-path + 'intelligent_design_-_averta-webfont.ttf') format('truetype'),
          url($font-path + 'intelligent_design_-_averta-webfont.svg#avertaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvertaSemiBold';
  src: url($font-path + 'intelligent_design_-_averta_semibold-webfont.eot');
  src:
          url($font-path + 'intelligent_design_-_averta_semibold-webfont.eot?#iefix') format('embedded-opentype'),
          url($font-path + 'intelligent_design_-_averta_semibold-webfont.woff') format('woff'),
          url($font-path + 'intelligent_design_-_averta_semibold-webfont.ttf') format('truetype'),
          url($font-path + 'intelligent_design_-_averta_semibold-webfont.svg#avertaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvertaLight';
  src: url($font-path + 'intelligent_design_-_averta_light-webfont.eot');
  src:
          url($font-path + 'intelligent_design_-_averta_light-webfont.eot?#iefix') format('embedded-opentype'),
          url($font-path + 'intelligent_design_-_averta_light-webfont.woff2') format('woff2'),
          url($font-path + 'intelligent_design_-_averta_light-webfont.woff') format('woff'),
          url($font-path + 'intelligent_design_-_averta_light-webfont.ttf') format('truetype'),
          url($font-path + 'intelligent_design_-_averta_light-webfont.svg#avertalight') format('svg');
  font-weight: normal;
  font-style: normal;
}
