@import 'reset-css/reset.css';

@import 'variables.styl';
@import 'fonts.styl';

body {
  background: $color-grayscale-1;
  color: $color-grayscale-6;
  font-family: $font-regular;
}

a {
  text-decoration: none;
  color: $color-highlight;

  &:hover {
    opacity: 0.8;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-bold;
}

strong {
  font-family: $font-bold;
}

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@import 'components/vf-app';
@import 'components/vf-app-footer';
@import 'components/vf-application-steps';
@import 'components/vf-application-wizard';
@import 'components/vf-merchant-steps';
@import 'components/vf-button';
@import 'components/vf-button-group';
@import 'components/vf-button-toggle';
@import 'components/vf-global-errors';
@import 'components/vf-island';
@import 'components/vf-logo';
@import 'components/vf-pagination';
@import 'components/vf-primary-nav';
@import 'components/vf-product-toggle';
@import 'components/vf-search-filter';
@import 'components/vf-toggle-group';

@import 'form.login';
@import 'applications-list';
