$image-path = '../images/' !default;

$color-primary = #002f54;
$color-highlight = #459dd9;
$color-secondary = #d2ecf6;
$color-base = #f1f9fc;
$color-contrast = #00b676;
$color-contrast-2 = #fb734b;

$color-grayscale-6 = #222;
$color-grayscale-5 = #75787b;
$color-grayscale-4 = #8a8a8a;
$color-grayscale-3 = #ddd;
$color-grayscale-2 = #fafafa;
$color-grayscale-1 = #fff;

$color-box-shadow = #afafaf;

$color-disabled-button = #b0b4b7;
$color-disabled-bg = $color-grayscale-2;

$color-text = #333;
$color-disabled-text = #999;
$color-error-text = firebrick;

$font-light = AvertaLight, sans-serif;
$font-regular = AvertaRegular, sans-serif;
$font-bold = AvertaSemiBold, sans-serif;

//$icon-select-caret-dark = "data:image/svg+xml,%3Csvg width='20' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 12c-.384 0-.768-.152-1.06-.458l-8.5-8.87a1.616 1.616 0 0 1 0-2.214c.585-.61 1.534-.61 2.12 0L10 8.222 17.44.458c.586-.61 1.535-.61 2.12 0a1.616 1.616 0 0 1 0 2.214l-8.5 8.87A1.464 1.464 0 0 1 10 12' fill-rule='evenodd' fill='%23002E55'/%3E%3C/svg%3E";
//$icon-select-caret-light = "data:image/svg+xml,%3Csvg width='20' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 12c-.384 0-.768-.152-1.06-.458l-8.5-8.87a1.616 1.616 0 0 1 0-2.214c.585-.61 1.534-.61 2.12 0L10 8.222 17.44.458c.586-.61 1.535-.61 2.12 0a1.616 1.616 0 0 1 0 2.214l-8.5 8.87A1.464 1.464 0 0 1 10 12' fill-rule='evenodd' fill='%23626669'/%3E%3C/svg%3E";
//$icon-select-caret-disabled = "data:image/svg+xml,%3Csvg width='20' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 12c-.384 0-.768-.152-1.06-.458l-8.5-8.87a1.616 1.616 0 0 1 0-2.214c.585-.61 1.534-.61 2.12 0L10 8.222 17.44.458c.586-.61 1.535-.61 2.12 0a1.616 1.616 0 0 1 0 2.214l-8.5 8.87A1.464 1.464 0 0 1 10 12' fill-rule='evenodd' fill='%238a8a8a'/%3E%3C/svg%3E";

$icon-select-caret-dark = "data:image/svg+xml;charset=utf8,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.143 13.571a.568.568 0 0 1-.17.402l-4 4a.568.568 0 0 1-.402.17.568.568 0 0 1-.401-.17l-4-4a.568.568 0 0 1-.17-.402c0-.312.259-.571.571-.571h8c.313 0 .572.259.572.571z' fill='%23002e55' fill-rule='evenodd'/%3E%3C/svg%3E";
$icon-select-caret-light = "data:image/svg+xml;charset=utf8,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.143 13.571a.568.568 0 0 1-.17.402l-4 4a.568.568 0 0 1-.402.17.568.568 0 0 1-.401-.17l-4-4a.568.568 0 0 1-.17-.402c0-.312.259-.571.571-.571h8c.313 0 .572.259.572.571z' fill='%23626669' fill-rule='evenodd'/%3E%3C/svg%3E";
$icon-select-caret-disabled = "data:image/svg+xml;charset=utf8,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.143 13.571a.568.568 0 0 1-.17.402l-4 4a.568.568 0 0 1-.402.17.568.568 0 0 1-.401-.17l-4-4a.568.568 0 0 1-.17-.402c0-.312.259-.571.571-.571h8c.313 0 .572.259.572.571z' fill='%238a8a8a' fill-rule='evenodd'/%3E%3C/svg%3E";

$icon-magnifying-glass-light = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23929292' d='M13.7 15.7c-1.4 1-3.2 1.6-5 1.6-4.8 0-8.6-4-8.6-8.6C0 4 4 0 8.8 0c4.7 0 8.6 4 8.6 8.7 0 1.8-.6 3.6-1.6 5l5.7 5.6c.5.6.5 1.5 0 2-.6.6-1.5.6-2 0l-5.7-5.6zm-5-.4c3.6 0 6.6-3 6.6-6.6 0-3.7-3-6.6-6.6-6.6C5 2 2 5 2 8.8c0 3.6 3 6.6 6.7 6.6z'/%3E%3C/svg%3E";

$icon-slider = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cg fill='%23fff'%3E%3Cpath d='M12 10a1.5 1.5 0 0 1-.4 1l-9 8.6a1.6 1.6 0 0 1-2 0 1.5 1.5 0 0 1 0-2.2L8.2 10 .5 2.6A1.5 1.5 0 0 1 .5.4a1.6 1.6 0 0 1 2.2 0l9 8.5a1.5 1.5 0 0 1 .4 1'/%3E%3Cpath d='M20 10a1.5 1.5 0 0 1-.5 1l-9 8.6a1.6 1.6 0 0 1-2 0 1.5 1.5 0 0 1 0-2.2L16 10 8.4 2.6a1.5 1.5 0 0 1 0-2.2 1.6 1.6 0 0 1 2.2 0l9 8.5a1.5 1.5 0 0 1 .3 1'/%3E%3C/g%3E%3C/svg%3E";

$icon-speech-bubbles = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M19.62 21.67c-5.04 1.23-8.7-1.86-8.7-5.17 0-3.17 3.1-5.46 6.53-5.46 3.46 0 6.55 2.3 6.55 5.46 0 1.12-.4 2.22-1.12 3.08-.03 1 .56 2.43 1.1 3.48-1.43-.26-3.45-.83-4.36-1.4zM8.92 16.5c0-4.1 3.82-7.46 8.53-7.46.9 0 1.74.12 2.55.33-.02-4.83-4.76-8.3-10-8.3-5.28 0-10 3.5-10 8.34 0 1.75.62 3.4 1.7 4.7.05 1.56-.85 3.75-1.66 5.35 2.17-.4 5.26-1.26 6.65-2.12.8.2 1.54.3 2.3.37-.08-.4-.1-.77-.1-1.17z' fill='%23459dd9'/%3E%3C/svg%3E";

$icon-check-mark = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg%3E%3Ccircle fill='%23009FDF' cx='8' cy='8' r='7.5'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M12.5 5.513l-.885-.885-4.936 4.936-2.294-2.306-.885.885 3.179 3.179z'/%3E%3C/g%3E%3C/svg%3E";
$icon-check-mark-stroked = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg%3E%3Ccircle stroke='%23fff' fill='%23009FDF' cx='8' cy='8' r='7.5'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M12.5 5.513l-.885-.885-4.936 4.936-2.294-2.306-.885.885 3.179 3.179z'/%3E%3C/g%3E%3C/svg%3E";

$icon-input-success = "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'><text x='0' y='15' fill='green' font-size='20'>✔</text></svg>";
$icon-input-error = "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'><text x='0' y='15' fill='firebrick' font-size='20'>✘</text></svg>";

$icon-phone = "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3e %3cpath fill='none' d='M-1-1h582v402H-1z'/%3e %3cg%3e %3cpath fill='%23009FDF' stroke='null' d='M27.8 22c0 .7-.3 2.1-.6 2.8-.4 1-1.5 1.5-2.4 2-1.2.7-2.3 1-3.6 1-1.9 0-3.5-.7-5.2-1.3-1.2-.5-2.3-1-3.4-1.7-3.4-2-7.4-6-9.4-9.4-.7-1-1.2-2.2-1.7-3.4C1 10.3.2 8.7.2 6.8c0-1.3.3-2.4 1-3.6.5-.9 1-2 2-2.4C4 .5 5.2.2 6 .2h.4c.4.2.8 1.1 1 1.5l2 3.4c.2.5.8 1.1.8 1.7 0 1.2-3.5 3-3.5 4 0 .6.5 1.3.7 1.7 2 3.6 4.5 6 8 8 .5.3 1.2.8 1.7.8 1.1 0 2.9-3.5 4-3.5.7 0 1.3.6 1.8.9l3.4 1.9c.4.2 1.3.6 1.5 1v.4z'/%3e %3c/g%3e %3c/svg%3e";
