@import '../../styles/variables';
@import '../../styles/mixins';

.vf-input {
  display: flex;
  border-radius: 3px;
  border: 1px solid $color-grayscale-3;
  background-color: $color-grayscale-1;
  transition: border-color 0.5s, color 0.3s;
}

.vf-input__input {
  @extend $text-input;
  border: none;
  color: $color-text;
}

.vf-input__append,
.vf-input__prepend {
  display: flex;
  align-items: center;
  padding: 0 .375rem;
  font-family: $font-light;
  font-size: 13.5px;
}

.vf-input__prepend + input {
  padding-left: 0;
}

[disabled] .vf-input__append,
[disabled] .vf-input__prepend {
  background-color: $color-disabled-bg;
  color: $color-disabled-text;
}

.vf-input.active {
  border-color: $color-contrast;
}

.vf-input.is-focused {
  border-color: $color-contrast !important;
}

.vf-input.is-touched.is-invalid,
.vf-input.is-dirty.is-invalid,
.vf-input.is-dirty.is-valid {
  .vf-input__input {
    background-repeat: no-repeat !important;
    background-position: center right 10px !important;
  }
}

.vf-input.is-touched.is-invalid,
.vf-input.is-dirty.is-invalid {
  border-color: $color-error-text !important;

  .vf-input__input {
    background-image:url($icon-input-error) !important;
    color: $color-error-text !important;
  }
}

.vf-input.is-dirty.is-valid {
  border-color: $color-contrast !important;

  .vf-input__input {
    background-image: url($icon-input-success) !important;
  }
}

.vf-input[readonly] {
  .vf-input__input {
    @extend $readonly;
  }
}

.vf-input[disabled] {
  border-color: $color-grayscale-3;

  .vf-input__input {
    @extend $disabled;
  }
}