{{#>vf-form-row for="apr" label=(i18n 'application.new.apr.label')}}
  <select name="apr"
          class="vf-select"
          data-controller="select"
          data-action="focus->select#focus blur->select#blur">
    <option selected="selected" disabled>{{i18n 'application.new.apr.placeholder'}}</option>
    {{#each terms}}
      <option value="{{this}}">{{concat this '%'}}</option>
    {{/each}}
  </select>
{{/vf-form-row}}

{{#>vf-form-row for="deferedTerm" label=(i18n 'application.new.deferred-term.label')}}
  <select name="deferedTerm"
          class="vf-select"
          data-controller="select"
          data-action="focus->select#focus blur->select#blur">
    <option selected="selected" disabled>{{i18n 'application.new.deferred-term.placeholder'}}</option>
    {{#each terms}}
      <option value="{{this}}">{{concat this (i18n 'global.months' language=../language) separator=' '}}</option>
    {{/each}}
  </select>
{{/vf-form-row}}

{{#>vf-form-row for="maxTerm" label=(i18n 'application.new.max-term.label')}}
  <select name="maxTerm"
          class="vf-select"
          data-controller="select"
          data-action="focus->select#focus blur->select#blur">
    <option selected="selected" disabled>{{i18n 'application.new.max-term.placeholder'}}</option>
    {{#each terms}}
      <option value="{{this}}">{{concat this (i18n 'global.months' language=../language) separator=' '}}</option>
    {{/each}}
  </select>
{{/vf-form-row}}