<footer class="vf-app-footer">
  <span class="vf-app-footer__trusted">Trusted by +700 merchants across the world</span>
  <a class="vf-app-footer__call" href="tel:05007001312">
    <span>Do you need help?</span><span>Call us on 0500 700 1312</span>
  </a>
</footer>
