<nav class="vf-primary-nav">
  <header>
    <div>
      {{> vf-logo}}
    </div>
    {{#if isAuthenticated}}
    <section id="toggle">
      <a href="" title="Toggle">
        <span class="icon"></span>
      </a>
    </section>
    {{/if}}
  </header>

  {{#if isAuthenticated}}
  <ul class="vf-primary-nav__list">
    {{#unless isCustomer}}
      <li class="vf-primary-nav__list-item"
          {{#if-eq section "applications"}}selected{{/if-eq}}>
      <a href="/applications" title="Applications">Applications</a>
    </li>
    {{/unless}}
    {{#if isAdmin}}
      <li class="vf-primary-nav__list-item"
          {{#if-eq section "merchants"}}selected{{/if-eq}}>
      <a href="/merchants" title="Merchants">Merchants</a>
    </li>
    {{/if}}
    {{#if isAdmin}}
    <li class="vf-primary-nav__list-item call-support">
      <a href="tel:+4570605808" title="+44 800 00 10 66">+44 800 00 10 66</a>
    </li>
    {{/if}}
    <li class="vf-primary-nav__list-item auth-nav">
      <a href="/logout" class="logout">Log out</a>
    </li>
  </ul>
  {{/if}}
</nav>
