{{#>vf-form-row for="apr" label=(i18n 'application.new.apr.label')}}
  <select name="apr"
          class="vf-select"
          data-controller="select"
          data-action="focus->select#focus blur->select#blur">
    <option selected="selected" disabled>{{i18n 'application.new.apr.placeholder'}}</option>
    {{#each terms}}
      <option value="{{this}}">{{concat this '%'}}</option>
    {{/each}}
  </select>
{{/vf-form-row}}

{{#>vf-form-row multi=true
                for="deposit"
                label=(i18n 'application.new.deposit.label')}}
    <select name="depositPercentage"
            class="vf-select"
            data-controller="select"
            data-target="payment-terms-form.depositPercentage"
            data-action="focus->select#focus blur->select#blur change->payment-terms-form#updateDeposit">
      <option value="0">0%</option>
      <option value="1">1%</option>
      <option value="5">5%</option>
      <option value="10">10%</option>
      <option value="15">15%</option>
      <option value="20">20%</option>
      <option value="25">25%</option>
      <option value="30">30%</option>
      <option value="35">35%</option>
      <option value="40">40%</option>
      <option value="45">45%</option>
      <option value="50">50%</option>
    </select>
    {{#vf-input type="number"
                id="depsoit"
                name="deposit"
                prepend="£"
                append=".00"
                step=1
                min=0
                target="payment-terms-form.deposit"}}{{/vf-input}}
{{/vf-form-row}}

{{#>vf-form-row for="maxTerm" label=(i18n 'application.new.max-term.label')}}
  <select name="maxTerm"
          class="vf-select"
          data-controller="select"
          data-action="focus->select#focus blur->select#blur">
    <option selected="selected" disabled>{{i18n 'application.new.max-term.placeholder'}}</option>
    {{#each terms}}
      <option value="{{this}}">{{concat this (i18n 'global.months' language=../language) separator=' '}}</option>
    {{/each}}
  </select>
{{/vf-form-row}}