<div class="vf-application-steps">
  <ul>
    <li class="vf-application-steps__step"
        {{#if-eq step "payment-terms"}}selected{{/if-eq}}
        {{#if-includes completed "payment-terms"}}completed{{/if-includes}}>
      <span class="vf-application-steps__title">{{i18n 'application-steps.payment-terms'}}</span>
    </li>
    <li class="vf-application-steps__step"
        {{#if-eq step "customer-info"}}selected{{/if-eq}}
        {{#if-includes completed "customer-info"}}completed{{/if-includes}}>
      <span class="vf-application-steps__title">{{i18n 'application-steps.customer-info'}}</span>
    </li>
    <li class="vf-application-steps__step"
        {{#if-eq step "approval"}}selected{{/if-eq}}
        {{#if-includes completed "approval"}}completed{{/if-includes}}>
      <span class="vf-application-steps__title">{{i18n 'application-steps.approval'}}</span>
    </li>
    <li class="vf-application-steps__step"
        {{#if-eq step "complete"}}selected{{/if-eq}}
        {{#if-includes completed "complete"}}completed{{/if-includes}}>
      <span class="vf-application-steps__title">{{i18n 'application-steps.complete'}}</span>
    </li>
  </ul>
</div>
