{{#if link}}
  <a class="vf-button"
     href="{{link}}"
    {{#if type}}{{type}}{{/if}}
    {{#if size}}{{size}}{{/if}}
    {{#if disabled}}disabled{{/if}}>
    <span>{{> @partial-block }}</span>
  </a>
{{else}}
  <button class="vf-button"
          type="{{method}}"
    {{#if type}}{{type}}{{/if}}
    {{#if size}}{{size}}{{/if}}
    {{#if disabled}}disabled{{/if}}>
    <span>{{> @partial-block }}</span>
  </button>
{{/if}}