<div class="vf-button-toggle">
  <input id="{{camel-case title}}"
         type="radio"
         name="{{fieldName}}"
         value="{{value}}"/>
  <label for="{{camel-case title}}">{{title}}</label>
</div>
