<div class="vf-form-row"
     {{#if controller}}data-controller="{{controller}}"{{/if}}
     {{#if action}}data-action="{{action}}"{{/if}}
     {{#if target}}data-target="{{target}}"{{/if}}>
  {{#if label}}
    <label for="{{for}}" class="vf-form-row__label">{{label}}</label>
  {{/if}}
  <div class="vf-form-row__controls{{#if multi}} vf-form-row__controls--multi{{/if}}">{{> @partial-block }}</div>
</div>