<div class="vf-merchant-steps">
  <ul>
    <li class="vf-merchant-steps__step"
        {{#if-eq step "company-details"}}selected{{/if-eq}}
        {{#if-includes completed "company-details"}}completed{{/if-includes}}>
      <span class="vf-merchant-steps__title">Company Details</span>
    </li>
    <li class="vf-merchant-steps__step"
        {{#if-eq step "director-details"}}selected{{/if-eq}}
        {{#if-includes completed "director-details"}}completed{{/if-includes}}>
      <span class="vf-merchant-steps__title">Director Details</span>
    </li>
    <li class="vf-merchant-steps__step"
        {{#if-eq step "financial-details"}}selected{{/if-eq}}
        {{#if-includes completed "financial-details"}}completed{{/if-includes}}>
      <span class="vf-merchant-steps__title">Financial Details</span>
    </li>
    <li class="vf-merchant-steps__step"
        {{#if-eq step "additional-information"}}selected{{/if-eq}}
        {{#if-includes completed "additional-information"}}completed{{/if-includes}}>
      <span class="vf-merchant-steps__title">Additional Information</span>
    </li>
    <li class="vf-merchant-steps__step"
        {{#if-eq step "complete"}}selected{{/if-eq}}
        {{#if-includes completed "complete"}}completed{{/if-includes}}>
      <span class="vf-merchant-steps__title">Complete</span>
    </li>
  </ul>
</div>
