<div class="product-toggle">
  <input id="{{camel-case title}}"
         type="radio"
         name="{{fieldName}}"
         value="{{value}}"
         {{#if action}}data-action="{{action}}"{{/if}}
         {{#if target}}data-target="{{target}}"{{/if}}
         {{#if selected}}checked="checked"{{/if}}/>
  <label for="{{camel-case title}}">
    <span class="product-toggle__title">{{title}}</span>
    <span class="product-toggle__description">{{description}}</span>
  </label>
</div>
