<div class="vf-pagination">
  <span class="vf-pagination__label">Results: {{results}}</span>

  <nav class="vf-pagination__navigate">
    <span class="vf-pagination__prev">
      {{#>vf-button size="small"
                    type="transparent"}}previous{{/vf-button}}
    </span>
    <span>1</span>
    <span>1</span>
    <span class="vf-pagination__next">
      {{#>vf-button size="small"
                    type="transparent"}}next{{/vf-button}}
    </span>
  </nav>

  <ul class="vf-pagination__number-of-results">
    <li><span>Results per page</span></li>
    <li>{{#>vf-button size="small"
                      type="transparent"}}10{{/vf-button}}</li>
    <li>{{#>vf-button size="small"
                      type="transparent"}}25{{/vf-button}}</li>
    <li>{{#>vf-button size="small"
                      type="transparent"}}50{{/vf-button}}</li>
  </ul>
</div>