<div class="vf-search-filter">
  <form name="search">
    <div class="applications-search-filters">
      <label for="searchTerm">Search</label>
      <input id="searchTerm" name="searchTerm" type="text" placeholder="Search">
      <select name="filterBy" class="vf-select">
        <option label="Reference" value="reference" selected="selected">Reference</option>
        <option label="Merchant" value="partnerName">Merchant</option>
        <option label="First name" value="firstName">First name</option>
        <option label="Last name" value="lastName">Last name</option>
        <option label="Email" value="email">Email</option>
        <option label="Phone number" value="phoneNumber">Phone number</option>
      </select>
      {{#>vf-button type="primary" method="button"}}Add to search{{/vf-button}}
    </div>
  </form>
</div>