<div class="vf-toggle-group"
     {{#if colspan}}colspan="{{colspan}}"{{/if}}
     {{#if controller}}data-controller="{{controller}}"{{/if}}
     {{#if action}}data-action="{{action}}"{{/if}}
     {{#if target}}data-target="{{target}}"{{/if}}>
  {{> @partial-block }}
</div>