<div class="applications-list">
  <header class="application-list-header">
    <div class="application-list-header__search">

      <div class="application-list-header__new-application">
        {{#>vf-button link="/applications/new" type="success"}}New Application{{/vf-button}}
      </div>

      <div class="application-list-header__search-options">
        {{>vf-search-filter}}
      </div>
    </div>

    {{>vf-pagination}}
  </header>
  <footer>
    {{>vf-pagination}}
  </footer>
</div>
