{{>vf-application-steps step=step completed=completed}}

<div class="vf-application-wizard">
  <section class="vf-island">
    <h1>{{i18n 'application.new.title'}}</h1>
    <form name="payment-terms" data-controller="form payment-terms-form">
      <fieldset class="fieldset">
        {{#>vf-form-row for="purchaseAmount" label=(i18n 'application.new.purchase-amount.label')}}
          {{#vf-input type="number"
                      id="purchaseAmount"
                      name="purchaseAmount"
                      placeholder=(i18n 'application.new.purchase-amount.placeholder')
                      prepend="£"
                      append=".00"
                      step=1
                      min=0
                      target='payment-terms-form.purchaseAmount'}}{{/vf-input}}
        {{/vf-form-row}}

        {{#>vf-form-row for="vertical" label=(i18n 'application.new.vertical.label')}}
          <select name="vertical"
                  class="vf-select"
                  data-controller="select"
                  data-action="focus->select#focus blur->select#blur">
            <option selected="selected" disabled>{{i18n 'application.new.vertical.placeholder'}}</option>
            {{#each verticals}}
              <option value="{{id}}">{{i18n (concat 'vertical' (kebab-case name) separator='.') language=../language}}</option>
            {{/each}}
          </select>
        {{/vf-form-row}}

        <div data-controller='product-category'>
          {{#>vf-form-row for="productCategory" label=(i18n 'application.new.product-category.label')}}
            {{#>vf-toggle-group}}
              {{# each productCategories}}
                {{>vf-product-toggle
                    fieldName="productCategory"
                    value=id
                    title=(i18n (concat 'product-category' (kebab-case name) 'title' separator='.') language=../language)
                    description=(i18n (concat 'product-category' (kebab-case name) 'description' separator='.') language=../language)
                    selected=(equals ../currentProduct.name name)
                    action='change->product-category#change'}}
              {{/each}}
            {{/vf-toggle-group}}
          {{/vf-form-row}}
          <div data-target="product-category.fields">
            {{> (product-fields currentProduct) }}
          </div>
        </div>
      </fieldset>
      <fieldset name="actions">

      </fieldset>
    </form>
  </section>
</div>